# Import des données de Global Forest Watch sur la déforestation

Ce notebook importe les données de Global Forest Watch grace au package python

In [ ]:
import pandas as pd
from owid import catalog
import numpy as np

Nous pouvons avoir l'API de MFW :

In [3]:
import requests

# URL de l'API
url = 'https://data-api.globalforestwatch.org/auth/token'

# Données à envoyer dans la requête POST
data = {
    'username': 'xxx',
    'password': 'xxx'
}

# En-têtes de la requête
headers = {
    'Content-Type': 'application/x-www-form-urlencoded'
}

# Envoi de la requête POST
response = requests.post(url, data=data, headers=headers)

# Vérification de la réponse
if response.status_code == 200:
    print('Succès:', response.json())
else:
    print(f'Erreur: {response.status_code}, {response.text}')

response.json()["data"]['access_token']

Succès: {'data': {'access_token': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY3NDU4MTkzNTlhMzhlYmRiMTZkN2YzYyIsInJvbGUiOiJVU0VSIiwicHJvdmlkZXIiOiJsb2NhbCIsImVtYWlsIjoicGhpbGlwcGUuZGV0aW5ndXlAZW5zYWUuZnIiLCJleHRyYVVzZXJEYXRhIjp7ImFwcHMiOlsicnciXX0sImNyZWF0ZWRBdCI6MTczNTM5MzIzMTE0MSwiaWF0IjoxNzM1MzkzMjMxfQ.52cqO56b0S8ry3ju1XblRpm7mgEf2r5uWDfNpp1OlgY', 'token_type': 'bearer'}, 'status': 'success'}

'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY3NDU4MTkzNTlhMzhlYmRiMTZkN2YzYyIsInJvbGUiOiJVU0VSIiwicHJvdmlkZXIiOiJsb2NhbCIsImVtYWlsIjoicGhpbGlwcGUuZGV0aW5ndXlAZW5zYWUuZnIiLCJleHRyYVVzZXJEYXRhIjp7ImFwcHMiOlsicnciXX0sImNyZWF0ZWRBdCI6MTczNTM5MzIzMTE0MSwiaWF0IjoxNzM1MzkzMjMxfQ.52cqO56b0S8ry3ju1XblRpm7mgEf2r5uWDfNpp1OlgY'

Cependant, l'access token n'est valide que temporairement, et mon compte étant gratuit, je n'ai pas accès à tout. En accord avec ce que la documentation de MFW recommande, nous allons donc à la place utiliser leur package (qui est directement dans Python), afin d'avoir accès à toutes les données qu'il nous faut.

In [ ]:
results = catalog.find("tree")
data = results.iloc[0].load()
data = data.reset_index()
data

,country,year,commodity_driven_deforestation,forestry,shifting_agriculture,unknown,urbanization,wildfire,total
0,Afghanistan,2001,<NA>,31.75351,<NA>,56.339203,<NA>,<NA>,88.092712
1,Afghanistan,2002,<NA>,67.850754,<NA>,110.789612,<NA>,<NA>,178.640366
2,Afghanistan,2003,<NA>,113.221039,<NA>,131.115219,<NA>,<NA>,244.336258
3,Afghanistan,2004,<NA>,131.220551,<NA>,70.224403,<NA>,<NA>,201.444946
4,Afghanistan,2005,<NA>,102.621201,<NA>,133.335632,<NA>,<NA>,235.956833
...,...,...,...,...,...,...,...,...,...
4799,Zimbabwe,2019,1.382205,6526.898438,4999.389648,12.587267,1.833442,11.238701,11553.330078
4800,Zimbabwe,2020,1.017816,2693.831543,3496.378174,17.037254,2.787108,13.867128,6224.918945
4801,Zimbabwe,2021,1.600864,2937.024658,6014.73584,68.924423,3.738736,28.462732,9054.487305
4802,Zimbabwe,2022,4.023651,3659.499756,4522.879883,45.421551,3.960732,29.195229,8264.980469
4803,Zimbabwe,2023,4.559243,1984.676147,3655.317627,7.503813,8.215701,30.09897,5690.371582

In [5]:
results1 = catalog.find("area")
data1 = results1.iloc[34].load()
data1

                                             forest       savannas  \
country     year month days_since_2000
Afghanistan 2002 1     731                      0.0            0.0
                 2     762                      0.0            0.0
                 3     790                      0.0            0.0
                 4     821                      0.0            0.0
                 5     851                      0.0            0.0
...                                             ...            ...
Zimbabwe    2022 8     8248              729.838989    25136.53125
                 9     8279             2253.916992   124459.09375
                 10    8309             8071.166016  152536.453125
                 11    8340               42.931999     171.727005
                 12    8370                     0.0            0.0

                                        shrublands_grasslands      croplands  \
country     year month days_since_2000
Afghanistan 2002 1     731                                0.0            0.0
                 2     762                                0.0            0.0
                 3     790                                0.0     128.794998
                 4     821                                0.0            0.0
                 5     851                                0.0            0.0
...                                                       ...            ...
Zimbabwe    2022 8     8248                       374300.3125   72490.226562
                 9     8279                        788720.375   155198.21875
                 10    8309                          808769.5  129546.507812
                 11    8340                      10690.001953     2511.50708
                 12    8370                         450.78299     171.727005

                                             other           all
country     year month days_since_2000
Afghanistan 2002 1     731                     0.0           0.0
                 2     762                     0.0           0.0
                 3     790                     0.0    128.794998
                 4     821                     0.0           0.0
                 5     851                     0.0           0.0
...                                            ...           ...
Zimbabwe    2022 8     8248                    0.0  472656.90625
                 9     8279                 21.466     1070653.0
                 10    8309             128.794998   1099052.375
                 11    8340                    0.0  13416.167969
                 12    8370             107.329002    729.838989

[59220 rows x 6 columns]

In [7]:
df_owid=pd.DataFrame(data)
df_owid

,country,year,commodity_driven_deforestation,forestry,shifting_agriculture,unknown,urbanization,wildfire,total
0,Afghanistan,2001,<NA>,31.75351,<NA>,56.339203,<NA>,<NA>,88.092712
1,Afghanistan,2002,<NA>,67.850754,<NA>,110.789612,<NA>,<NA>,178.640366
2,Afghanistan,2003,<NA>,113.221039,<NA>,131.115219,<NA>,<NA>,244.336258
3,Afghanistan,2004,<NA>,131.220551,<NA>,70.224403,<NA>,<NA>,201.444946
4,Afghanistan,2005,<NA>,102.621201,<NA>,133.335632,<NA>,<NA>,235.956833
...,...,...,...,...,...,...,...,...,...
4799,Zimbabwe,2019,1.382205,6526.898438,4999.389648,12.587267,1.833442,11.238701,11553.330078
4800,Zimbabwe,2020,1.017816,2693.831543,3496.378174,17.037254,2.787108,13.867128,6224.918945
4801,Zimbabwe,2021,1.600864,2937.024658,6014.73584,68.924423,3.738736,28.462732,9054.487305
4802,Zimbabwe,2022,4.023651,3659.499756,4522.879883,45.421551,3.960732,29.195229,8264.980469
4803,Zimbabwe,2023,4.559243,1984.676147,3655.317627,7.503813,8.215701,30.09897,5690.371582

En exploitant les données j'ai remarqué que la Russie n'était pas présente dans le dataframe de données finale, dûe à une mauvaise normalisation du nom du pays dans ce dataframe

In [8]:
# Ajouter une nouvelle catégorie
df_owid['country'] = df_owid['country'].cat.add_categories(['Russian Federation'])

# Remplacer les valeurs
df_owid.loc[df_owid['country'] == 'Russia', 'country'] = 'Russian Federation'

Pour fusionner avec les deux autres bases de données nous avons besoin du code pays, permettant ainsi d'identifier d'une unique façon les pays selon la norme ISO 3166, grâce au package pycountry.

In [ ]:
## pip install pycountry
import pycountry

# Fonction pour récupérer le code pays ISO 3166
def get_country_code(country_name):
    try:
        # Recherche dans pycountry
        country = pycountry.countries.lookup(country_name)
        return country.alpha_3  # Retourne le code à 3 lettres
    except LookupError:
        return None  # Si le pays n'est pas trouvé

# Ajouter une colonne 'code_pays' avec les codes ISO 3166
df_owid['code_pays'] = df_owid['country'].apply(get_country_code)

data_owid = df_owid
df_owid

,country,year,commodity_driven_deforestation,forestry,shifting_agriculture,unknown,urbanization,wildfire,total,code_pays
0,Afghanistan,2001,<NA>,31.75351,<NA>,56.339203,<NA>,<NA>,88.092712,AFG
1,Afghanistan,2002,<NA>,67.850754,<NA>,110.789612,<NA>,<NA>,178.640366,AFG
2,Afghanistan,2003,<NA>,113.221039,<NA>,131.115219,<NA>,<NA>,244.336258,AFG
3,Afghanistan,2004,<NA>,131.220551,<NA>,70.224403,<NA>,<NA>,201.444946,AFG
4,Afghanistan,2005,<NA>,102.621201,<NA>,133.335632,<NA>,<NA>,235.956833,AFG
...,...,...,...,...,...,...,...,...,...,...
4799,Zimbabwe,2019,1.382205,6526.898438,4999.389648,12.587267,1.833442,11.238701,11553.330078,ZWE
4800,Zimbabwe,2020,1.017816,2693.831543,3496.378174,17.037254,2.787108,13.867128,6224.918945,ZWE
4801,Zimbabwe,2021,1.600864,2937.024658,6014.73584,68.924423,3.738736,28.462732,9054.487305,ZWE
4802,Zimbabwe,2022,4.023651,3659.499756,4522.879883,45.421551,3.960732,29.195229,8264.980469,ZWE
4803,Zimbabwe,2023,4.559243,1984.676147,3655.317627,7.503813,8.215701,30.09897,5690.371582,ZWE

Pour pouvoir faire la régression et lier ces données aux autres, nous allons remplacer les données vides par 0

In [ ]:
# Remplacer toutes les valeurs NaN par 0
#df_owid = df_owid.apply(lambda col: col.fillna(0) if col.isnull().any() else col)
#df_owid

,country,year,commodity_driven_deforestation,forestry,shifting_agriculture,unknown,urbanization,wildfire,total,code_pays
0,Afghanistan,2001,0.0,31.75351,0.0,56.339203,0.0,0.0,88.092712,AFG
1,Afghanistan,2002,0.0,67.850754,0.0,110.789612,0.0,0.0,178.640366,AFG
2,Afghanistan,2003,0.0,113.221039,0.0,131.115219,0.0,0.0,244.336258,AFG
3,Afghanistan,2004,0.0,131.220551,0.0,70.224403,0.0,0.0,201.444946,AFG
4,Afghanistan,2005,0.0,102.621201,0.0,133.335632,0.0,0.0,235.956833,AFG
...,...,...,...,...,...,...,...,...,...,...
4799,Zimbabwe,2019,1.382205,6526.898438,4999.389648,12.587267,1.833442,11.238701,11553.330078,ZWE
4800,Zimbabwe,2020,1.017816,2693.831543,3496.378174,17.037254,2.787108,13.867128,6224.918945,ZWE
4801,Zimbabwe,2021,1.600864,2937.024658,6014.73584,68.924423,3.738736,28.462732,9054.487305,ZWE
4802,Zimbabwe,2022,4.023651,3659.499756,4522.879883,45.421551,3.960732,29.195229,8264.980469,ZWE
4803,Zimbabwe,2023,4.559243,1984.676147,3655.317627,7.503813,8.215701,30.09897,5690.371582,ZWE

On exporte les données df_owid en csv

In [11]:
# Export des données en csv
#df_owid.to_csv('df_owid.csv', index=False)